# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Global DS_Store ignore
**/.DS_Store
.DS_Store
../../.DS_Store
../../../.DS_Store
../../../../.DS_Store

# Ignore lib folders
.env
.cache
.ipynb_checkpoints
.streamlit
bin/
etc/
include/
lib/
outputs/
share/

# Ignoring config files
pip-selfcheck.json
pyvenv.cfg
